/**** efw3.X Copyright 2016 efwGrp ****/
#loading{
	z-index:100!important;
	background-image:url(../efw/images/loading.gif)!important;
	background-position:center center!important;
	background-repeat:no-repeat!important;
}

/**
data-format
<input id="txt_testnumber" type="text" data-format="#,##0.00">
<input id="txt_testdate" type="text" data-format="yyyy年MM月dd日">
**/

.efw_input_error{
	background-color:pink!important;
}
.efw_input_focus{
	background-color:lightcyan!important;
}
.ui-dialog{
	position:fixed!important;
}
